includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    universalObjectCratesClasses:
        - Spatie\Permission\Models\Role
        - Spatie\Permission\Models\Permission
    # bootstrapFiles:
    #     - phpstan_stubs.php

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes

    level: max

    treatPhpDocTypesAsCertain: true

    #ignoreErrors:
    #   - '#PHPDoc tag @var#'

    excludePaths:
        - ./tests/*

    # memoryLimitFile: "2024M"
